<header class="sticky">
  <h2>{{ 'bold.recurring_orders.subscription_heading' | t }}</h2>
  <p>{{ 'bold.recurring_orders.subscription_subheading' | t }}</p>
  <button type="button" class="mobile-info" onclick="toggleBulletList()">More Info</button>
  <div id="moreInfoList">
    <ul>
      <li itemprop="description">Free shipping anywhere in the world.</li>
      <li itemprop="description">Swap out any pair you’re not happy with.</li>
      <li itemprop="description">70% combed cotton, 200 needle socks.</li>
      <li itemprop="description">No commitment, cancel anytime.</li>
      <li itemprop="description">Adjust your subscription at any time.</li>
    </ul>
  </div>

</header>

<form method="post" enctype="multipart/form-data" class="custom-subscription-form no_ro_widget product_form" action="/cart/add" data-money-format="{{ shop.money_format }}">
  {% include 'bms-custom-swatches', for_variant: true %}
  {% include 'bms-custom-ro-widget' %}
  {% include 'bms-custom-subscription-summary-and-submit' %}
</form>

<script type="text/javascript">
function toggleBulletList() {
  console.log("toggle");
    var x = document.getElementById("moreInfoList");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>