<div id="info_wrapper">

    <div id="sock_wrapper">
        <div id="sock_specs" class="info_section">

            <div id="sock_specs_text">
                <h2>Sock Specs</h2>
                <ul>
                    <li>70% Combed Cotton</li>
                    <li>14% Polyester</li>
                    <li>13% Nylon</li>
                    <li>3% Spandex</li>
                </ul>
                <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/wash_icons.png?11467454873453863891" />
                <p>For best results, wear on your feet</p>
                <p>Designed in Atlanta</p>
            </div>

        </div>

        <div id="sock_tech" class="info_section">
            <div id="sock_tech_text">
                <h2>Sock Tech</h2>
                <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/no-slip.png?2840517038142523466" />
                <h3>NO-SLIP-CUFF</h3>
                <p>Socks guaranteed to stay put all day under the toughest circumstances.</p>

                <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/combed_cotton.png?2840517038142523466" />
                <h3>HIGH QUALITY COMBED COTTON</h3>
                <p>Constructed from 70% combed cotton for an ultra-soft yet durable fit every time.</p>

                <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/needle_construction.png?2840517038142523466" />
                <h3>200 NEEDLE CONSTRUCTION</h3>
                <p>200 needle machines yield brighter, softer, more detailed, and longer lasting socks.</p>

                <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/reinforced.png?2840517038142523466" />
                <h3>REINFORCED HEEL AND TOE</h3>
                <p>Strong fibers to give you the durability you need without the added bulk.</p>
            </div>
        </div>
    </div>

    <div id="lower_bar">
        <div id="lower_bar_left">
            <div id="lower_bar_left_text">

                <h2>100% SATSFACTION GUARANTEED</h2>
                <p>If you're ever not satisfied with a pair you get, simply send them back to us and we'll swap it out for a
                    fresh one.
                </p>
                <span>info@sockancy.com</span>
                <span>(470) 440-3591</span>
            </div>
        </div>
        <div id="lower_bar_right">
            <div id="lower_bar_right_text">

                <h2>FREE SHIPPING WORLDWIDE</h2>
                <p>Orders are typically processed and shipped within 2 business days. Domestic (US): 5-7 business days | Internationsl:
                    2-3 weeks.
                </p>
                <span>All orders shipped from Atlanta, Georgia</span>
            </div>
        </div>
    </div>
</div>

<div class="ro_rollover_box">
    <h3 id="box_header">Awesomely Random Sock Subscription</h3>
    <span class="blue">Starting at $11/month</span>
    <p>Sign up today to start your subscription with this pair, then recieve a new pair of awesomely random socks delivered
        every month right to your door. Pretty neat, eh?.</p>
    <p>Pause, swap socks, or cancel at any time. More subscription plans are
        <a href="" class="blue">available here.</a>
    </p>
    <div class="img_container">

        <div>
            <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/plane3.png?18444282590040464706" />
            <h3>FREE SHIPPING WORLDWIDE</h3>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/arrow2.png?18444282590040464706" />
            <h3>EXCHANGE OR CANCEL ANYTIME</h3>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/thumb2.png?18444282590040464706" />
            <h3>100% SATISFACTION Guaranteed</h3>
        </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0002/4179/5099/files/right_arrow.png?15428889625108770767" id="right_arrow" />
</div>

<style>
    #right_arrow {
        position: relative;
        top: -31px;
        left: 460px;
    }

    .img_container div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .ro_rollover_box {
        width: 410px;
        background-color: #f3f3f3;
        padding: 30px 50px;
        border: #d7d7d7 1px solid;
        position: absolute;
        top: -420px;
        left: -550px;
        display: none;
        z-index: 10;
    }

    .ro_rollover_box span {
        margin-bottom: 15px;
        display: block;
    }


    .ro_rollover_box div:last-child {
        margin-bottom: 0px !important;
    }


    .ro_rollover_box p {
        margin-bottom: 25px !important;
    }

    #box_header {
        width: 225px;
        margin-bottom: 15px !important;
    }

    .img_container div h3 {
        margin: 0px;
        margin-left: 20px;
        line-height: 20px;
        width: 230px;
        font-family: 'Montserrat';
        font-weight: bold;
    }

    .description h4 {
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        line-height: 23px;
    }

    .product_name,
    .current_price {
        font-family: 'Montserrat';
        font-weight: bold;
    }

    #info_wrapper {
        margin-top: 130px;
    }

    #sock_wrapper {
        display: flex;
    }

    #sock_wrapper h2 {
        font-size: 45px !important;
        letter-spacing: 2px !important;
    }

    #sock_wrapper li {
        margin: 0px !important;
    }

    .info_section {
        width: 50%;
        display: flex;
        padding-top: 100px;
    }

    #sock_tech_text {
        width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sock_specs_text {
        width: 445px;
        color: white !important;
    }

    #sock_specs_text li {
        list-style-type: none;
        list-style-position: inside;
    }

    #sock_specs_text ul {
        margin: 0px !important;
    }

    #sock_tech {
        justify-content: flex-start;
        background-color: #f3f3f3;
        min-height: 870px;
    }

    #sock_specs {
        justify-content: flex-end;
        background-image: url("https://cdn.shopify.com/s/files/1/0002/4179/5099/files/sockspecs_background.jpg?10111469883857696415");
        min-height: 870px;
    }

    .ro_widget {
        position: relative;
    }

    #sock_specs_text p,
    #sock_specs_text ul {
        width: 50%;
        font-size: 18px;
        line-height: 23px !important;
    }

    #sock_specs_text img {
        margin-top: 70px;
    }

    #sock_specs_text h2 {
        color: white;
        font-family: 'Montserrat';
        font-weight: bold;
    }

    #sock_tech_text p {
        text-align: center;
        width: 50%;
        font-size: 14px;
        margin: 0 0 35px !important;
        line-height: 18px;
    }

    #sock_tech_text h2 {
        margin-bottom: 45px;
        font-family: 'Montserrat';
        font-weight: bold;
    }

    #sock_tech_text h3,
    .ro_rollover_box h3 {
        margin: 0px;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Montserrat';
        font-weight: bold;
    }

    #sock_tech_text h3 {
        text-align: center;
        width: 180px;
        margin-bottom: 10px !important;

    }

    .blue {
        color: #32bcfb !important;
    }

    #lower_bar {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: black;
        color: white;
        padding: 70px 0px;
        font-size: 18px;
    }

    .five.columns {
        width: 225px !important;
    }

    #lower_bar p {
        margin-bottom: 30px !important;
    }

    #lower_bar h2 {
        color: white !important;
        font-size: 30px;
        line-height: 18px;
        margin-bottom: 30px;

    }

    #lower_bar_left {
        justify-content: flex-end;
        width: 50%;
        display: flex;

    }

    #lower_bar_right {
        justify-content: flex-start;
        width: 50%;
        display: flex;

    }

    #lower_bar_left_text {
        width: 550px;
        margin-right: 60px;
    }

    #lower_bar_right_text {
        width: 650px;
        margin-left: 30px;
    }

    #sock_tech img {
        margin-bottom: 18px;
    }

    .purchase {
        margin-top: 15px !important;
    }

    .description p {
        margin-bottom: 30px !important;

    }

    .modal_price {
        margin-bottom: 20px !important;
    }


    #designed_text {
        text-align: center;
        margin-top: -5px;
    }

    .flex-control-nav {
        margin-top: 29px !important;
        margin-left: 5px !important;

    }

    .slides {
        width: 88% !important;

    }

    .bold-ro__fixed-frequency-text {
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .bold-ro__recurring-title {
        padding: 0px !important;
    }

    .bold-ro__recurring-text,
    .bold-ro__one-time-purchase {
        font-size: 14px;
        font-weight: normal !important;
        padding-left: 6px;
        cursor: pointer;
    }

    .bold-ro__radio-div {
        padding-left: 10px !important;
        padding-right: 50px !important;
    }

    .bold-ro__frequency-label {
        font-size: 12px;
        padding-left: 35px;
        padding-top: 0px;
    }

    .rp_h4 {
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    .info .title {
        font-size: 18px;
        text-align: left;
        font-family: 'Montserrat';
        font-weight: 600;
    }

    .info .price {
        font-size: 18px;
        text-align: left;
        font-weight: normal;
    }

    p {
        font-family: 'Montserrat';
        font-weight: 300;
    }

    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }

    #more_info_trigger {
        cursor: pointer;
    }

 .description h4 { 
     font-family: 'Montserrat';
     font-weight: bold;
         text-transform: capitalize;
 }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked~label,
    [type="radio"]:not(:checked)~label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }

    [type="radio"]:checked~label:before,
    [type="radio"]:not(:checked)~label:before {
        content: '';
        position: absolute;
        left: 0;
        top: -17px;
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 100%;
        background: #fff;
    }

    [type="radio"]:checked~label:after,
    [type="radio"]:not(:checked)~label:after {
        content: '';
        width: 14px;
        height: 14px;
        background: black;
        position: absolute;
        top: -12px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked)~label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked~label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    @media only screen and (max-width: 1200px) {

        #sock_wrapper {
            flex-direction: column;
        }

        #sock_tech_text,
        .info_section {
            width: 100%;
        }

        #lower_bar {
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
        }

        #lower_bar_left,
        #lower_bar_right {
            width: 100%;
            justify-content: space-evenly;
        }

        #lower_bar_left_text {
            margin-right: 0px;
            margin-bottom: 50px;
        }

        #lower_bar_right_text {
            margin-left: 0px;
        }

    }


 @media only screen and (min-width: 770px) and (max-width: 970px) {
     .ro_rollover_box {
        width: 290px;
        left: -425px;
        top: -460px;
     }
     #right_arrow {
    left: 340px;
     }
 }


@media only screen and (max-width: 770px) {
    #sock_specs {
        justify-content: center;
        text-align: center;
    }
    #sock_specs_text p,
    #sock_specs_text ul {
        width: 100%;
    }
    #lower_bar h2 {
        line-height: 33px;
    }
    .ro_rollover_box {
        left: calc(50% - 248px);
        top: -460px;
        width: 100%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0px !important;
    }
    #right_arrow {
        display: none !important;
    }
    .ro_rollover_box * {
           margin-left: 20px;
    margin-right: 20px;
    }
    #box_header {
        width: 100%;
        margin-bottom: 15px !important;
        text-align: center;
        margin-top: 10px;
    }
}

    @media only screen and (max-width: 480px) {
        .product_name {
            font-size: 45px;
        }
    }
</style>

<div id="overlay"></div>

<script>
    BOLD.common.eventEmitter.on('BOLD_RECURRING_ORDERS_widget_loaded', function (response) {
        var discountPrice = response.data.product_json.discount_price.replace('</span>', '').replace(
            '<span class=money>', '');
        $('.ro_discount_price').text(discountPrice);
        $('.bold-ro__radio-div input').after('<label></label>');
        $('#overlay').click(function () {
            $('.ro_rollover_box, #overlay').hide();
        })
        $('#more_info_trigger').click(function () {
            $('.ro_rollover_box, #overlay').show();
        })
        $('.ro_rollover_box').detach().appendTo('.ro_widget');
    });
</script>