<header>
  <h2>100% SATISFACTION GUARANTEED</h2>
</header>
<p>If you’re ever not satisfied with a pair you get, simply send them back to us and we’ll swap it out for a fresh one.</p>
<p>info@sockfancy.com (470) 440-3591</p>
