<header>
  <h2>FREE SHIPPING WORLDWIDE</h2>
</header>
<p>Order are typically processed and shipped within 2 business days. Domestic (US): 5-7 business days | International: 2-3 weeks</p>
<p>All orders shipped from Atlanta, Georgia</p>
