<script type="text/javascript">
    var dataLayer = dataLayer || [];
      dataLayer.push({
      'PageType':'HomePage',
      'email': '',
                    });
</script>
<div class="index-sections">
  {% comment %} {{ content_for_index }} {% endcomment %}
  {% section 'home-page' %}
</div>
