

{%- include 'bold-ro' -%}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
<div class="yotpo yotpo-main-widget" data-product-id="727095148571" data-name="Monthly Subscription" data-url="https://sockfancy.com/products/sock-subscription" data-image-url="//cdn.shopify.com/s/files/1/0002/4179/5099/products/6-Pack_600_x_398_1_large.png%3Fv=1525726212" data-description="">
</div>


