{%- include 'bold-ro' -%}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
<div id="s-7bbf4ae2-f2ee-4aa8-acdb-1a1936d43d06" class="shg-c  "><script type="text/javascript">// <![CDATA[
          (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,
              e.src="//staticw2.yotpo.com/zlx0PS5NUFEd0EZQ177caodXt0XEQVUF9VOKWCER/widget.js";var t=document.getElementsByTagName("script")[0];
              t.parentNode.insertBefore(e,t)})();
          
// ]]></script>
<div id="yotpo-testimonials-custom-tab" height="100%"></div>
</div>